name: gitleaks-scan
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [main]
jobs:
  secrets-scan:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: install git
      run: |
        sudo apt-get update
        sudo apt-get install git
        git --version
    - name: setup gitleaks
      run: |
        git clone https://github.com/gitleaks/gitleaks.git
        cd gitleaks
        make build
        echo "gitleaks version"
        gitleaks version
      
    
      
    
