name: gitleaks-scan
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [main]
env:
   HOMEBREW_NO_INSTALL_CLEANUP: 1
jobs:
  secrets-scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: steup brew
      run: |
        sudo apt install git
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        echo "version of brew is as follows"
        brew -v
        brew install gitleaks
        echo "gitleaks version is as follows"
        gitleaks version
        gitleaks detect -s ${{github.workspace}} -f csv -r output.csv
      continue-on-error: true
    - name: run logs
      run: |
        ls
        cat output.csv
#        if [ -s output.csv ]; then
#          cat output.csv
#        else
#          echo "no secrets or cerentials were found"
#        if
#       continue-on-error: true
#     - name: upload artifact
#       if: ${{steps.report.outputs.secrets}}
#       uses: actions/upload-artifact@v3.1.0
#       with:
#         name: gitleaks-report
#         path: output.csv
        
        
    
    
    
